* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* navbar Section */
.nav-link {
    font-size: 1rem;
}

.nav-link.active {
    font-weight: 500;
}

.navbar-balancer {
    margin-right: 24rem;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:active {
    font-weight: 700;
    color: #FFC24C;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-weight: 500;
    color: #FFC24C;
}

.button-primary {   
    background-color: #735F32;
    color: #FFC24C;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    width: 140px;
}

.button-primary:hover {
    color: #282A3A;
    background-color: #FFC24C;
}

.navbar-default .navbar-toggler {
    color: #735F32;
}

.navbar-default .navbar-toggler:hover {
    color: #FFC24C;
}

.navbar-default .navbar-toggler-icon {
    color: #735F32;
    margin-top: 5px;
}

.navbar-default .navbar-toggler-icon:active {
    color: #FFC24C;
}

/* Nav Color change scroolY */
.nav-color {
    background-color: #282A3A;

    transition: all ease-in-out 0.4s;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

/* End Navbar Section */


/* Media queries */
    /* Desktop media queries */
@media only screen and (min-width: 884px) {
    .hero-tagline {
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

/* Mobile media queries */
@media only screen and (max-width: 884px) {
    body {
        padding: 0;
    }
    
    #navbar-id {
        background-color: #282A3A !important;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 0;
    }
}
/* End media queries */


/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    background-image: url('../img/hero-darker.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #282A3A;
}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    line-height: 3rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    width: 90%;
}

/* "care" word color */
.care {
    color: #FFC24C;
}

.email-sentence {
    color: #fff;
    width: 100%;
}

.hero-tagline p {
    color: #fff ;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 82%;
}
/* End Hero Section */


/* About Section */
#about {
    padding: 100px 0px;
    background-color: #fff;
}

.about-main h2 {
    font-size: 42px;
    font-weight: 500;
    color: #000;
}

.about-main u {
    color: #FFC24C;
    text-underline-offset: 4px;
}

.about-logo {
    border: solid #615b35;
    border-radius: 50%;
    width: 245px;
    height: 245px;
}

.about-logo-img {
    width: 240px;
    height: 240px;
}

.about-text h2 {
    font-weight: 500;
    color: #735F32;
}
/* End About Section */



/* Service Section */
#services {
    padding: 100px 0;
    background-color: #282A3A;
}

.services-main h2 {
    font-size: 42px;
    font-weight: 500;
    color: #FFC24C;
}

.sub-title {
    font-size: 18px;
    color: #fff;
}

.services-card {
    width: 100%;
    height: 313px;
    border-radius: 8px;
    background : linear-gradient(160deg, #000, #615b35);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);

    transition: all 1s ease-in;
}

.circle-icon {
    width: 90px;
    height: 90px;
    background-color: #cccccc;
    border-radius: 50%;

    transition: all .1s ease-in;
}

.services-card h3 {
    color: #cccccc;
    font-size: 24px;

    transition: all .2s ease-in;
}

.services-card p {
    color: #615b35;
    font-size: 14px;

    transition: all .3s ease-in;
}

/* Hover */
.services-card:hover {
    width: 100%;
    height: 313px;
    border-radius: 8px;
    background : linear-gradient(160deg, #615b35, #000);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.005);

    transition: all 1s ease-in;
}

.circle-icon:hover {
    width: 90px;
    height: 90px;
    background-color: #cccccc;
    border-radius: 50%;

    transition: all .1s ease-in;
}

.services-card:hover h3 {
    color: #FFC24C;
    font-size: 24px;

    transition: all .2s ease-in;
}

.services-card:hover p {
    color: #fff;
    font-size: 14px;

    transition: all .3s ease-in;
}
/* End Service Section */


/* About Section */
#testimonial {
    padding: 100px 0px;
    background-color: #fff;
}

.testimonial-main h2 {
    font-size: 42px;
    font-weight: 500;
    color: #000;
}

.testimonial-main u {
    color: #FFC24C;
    text-underline-offset: 4px;
}

/* End About Section */


/* Contact Section */
#contact {
    padding: 100px 0;
    background-image: url('../img/motto-darker.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-main {
    color: #fff;
}

.contact-main h2 {
    font-size: 42px;
    font-weight: 500;
    color: #FFC24C;
    margin-bottom: 2rem;
}

.contact-main u {
    color: #000;
    text-underline-offset: 4px;
}

.contact-logo {
    width: 21px;
    height: 21px;
}

.wa-link {
    color: #fff;
    text-decoration: none;
}

.wa-link:hover {
    color: #FFC24C;
    text-decoration: none;
}
/* End Contact Section */

/* Footer */
footer {
    padding: 5px 0;
    background-color: #FFC24C;
}

.socmed-link {
    color: #000;
}

.socmed-link:hover {
    color: #fff;
}
/* End Footer */